@page
@model Todo.Web.Pages.StatsModel
@{
    ViewData["Title"] = "Your Stats";
}

<h1 class="mb-5">@ViewData["Title"]</h1>

<h4 class="mb-5">Keep up the good work!</h4>

<h5 class="mb-4">All-time stats</h5>

<table class="table table-dark table-striped mb-5" style="width: 30em;">
    <tbody>
        <tr>
            <td scope="row">All-time number of tasks</td>
            <td>@Model.AllTimeTotal</td>
        </tr>
        <tr>
            <td scope="row">All-time percentage done</td>
            <td>@($"{Model.AllTimePercentageDone:P0}")</td>
        </tr>
        <tr>
            <td scope="row">All-time percentage procrastinated</td>
            <td>@($"{Model.AllTimePercentageProcrastinated:P0}")</td>
        </tr>
    </tbody>
</table>

<h5 class="mb-4">Stats of future tasks</h5>

<table class="table table-primary table-striped mb-5" style="width: 30em;">
    <tbody>
        <tr>
            <td scope="row">Tasks still left to do</td>
            <td>@Model.FutureTasksTotal</td>
        </tr>
        <tr>
            <td scope="row">Percentage done</td>
            <td>@($"{Model.FutureTasksPercentageDone:P0}")</td>
        </tr>
        <tr>
            <td scope="row">Percentage procrastinated</td>
            <td>@($"{Model.FutureTasksPercentageProcrastinated:P0}")</td>
        </tr>
    </tbody>
</table>

<h5 class="mb-4">Word frequency</h5>

<div class="mb-5">
    <form method="post" class="mb-3">
        <label asp-for="Word"></label>
        <div class="input-group" style="width: 30em;">
            <input asp-for="Word" class="form-control" placeholder="A word" value="@Model.Word" aria-label="A word" aria-describedby="button-addon2" />
            <div class="input-group-append">
                <button type="submit" class="btn btn-outline-secondary">Check word frequency</button>
            </div>
        </div>
        <span class="text-danger" asp-validation-for="Word"></span>
    </form>

    @if (!string.IsNullOrWhiteSpace(Model.WordSearched))
    {
        <p>The word "<strong>@Model.WordSearched</strong>" has been used <strong>@Model.Frequency</strong> time(s).</p>
    }
</div>

<a asp-page="./Index" class="btn btn-primary">Back to your TODO list</a>
